n8n/W1_health_monitor.json
{
  "name": "W1 — SISMO Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://sismo-backend-40ca.onrender.com/api/n8n/health",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "GET /api/n8n/health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-alegra",
              "leftValue": "={{ $json.alegra_conectada }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "cond-loanbooks",
              "leftValue": "={{ $json.loanbooks_activos }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "¿SISMO degradado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sismo-backend-40ca.onrender.com/api/n8n/alerta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $vars.SISMO_N8N_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tipo\": \"sistema_degradado\",\n  \"mensaje\": \"SISMO degradado — status={{ $node['GET /api/n8n/health'].json.status }} | alegra={{ $node['GET /api/n8n/health'].json.alegra_conectada }} | loanbooks={{ $node['GET /api/n8n/health'].json.loanbooks_activos }} | {{ $now.toISO() }}\",\n  \"severidad\": \"alta\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "POST /api/n8n/alerta — degradado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "OK — sin acción",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Cada 5 minutos": {
      "main": [
        [
          {
            "node": "GET /api/n8n/health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/n8n/health": {
      "main": [
        [
          {
            "node": "¿SISMO degradado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿SISMO degradado?": {
      "main": [
        [
          {
            "node": "POST /api/n8n/alerta — degradado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK — sin acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["sismo", "monitoring"],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "notes": "Monitorea SISMO cada 5 minutos. Dispara alerta 'sistema_degradado' si: status != ok, alegra desconectada, o loanbooks_activos < 3. Requiere variable n8n: SISMO_N8N_KEY = valor de N8N_API_KEY en Render."
}
