n8n/W3_alerta_backlog.json
{
  "name": "W3 — Alerta Backlog Conciliación",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Diario 9 AM Bogotá",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "CRON: '0 14 * * *' = 14:00 UTC = 9:00 AM Bogotá (UTC-5)"
    },
    {
      "parameters": {
        "url": "https://sismo-backend-40ca.onrender.com/api/n8n/status/backlog",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "GET /api/n8n/status/backlog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-alertar",
              "leftValue": "={{ $json.alertar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "¿Backlog alto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst porBanco = data.por_banco || {};\nconst bancosConPendientes = Object.entries(porBanco)\n  .filter(([banco, count]) => count > 0)\n  .map(([banco, count]) => `${banco}: ${count}`)\n  .join(', ');\n\nconst total = data.total || 0;\nconst diasAntiguo = data.mas_antiguo_hace_dias || 0;\n\nreturn [{\n  json: {\n    mensaje: `Backlog conciliación alto: ${total} movimientos pendientes. Por banco: ${bancosConPendientes || 'sin datos'}. Más antiguo: ${diasAntiguo} días. Liz debe revisar el modal Causar.`,\n    severidad: total > 100 || diasAntiguo > 14 ? 'alta' : 'media',\n    total,\n    por_banco: bancosConPendientes,\n    dias_antiguo: diasAntiguo\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Construir mensaje alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sismo-backend-40ca.onrender.com/api/n8n/alerta",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Key",
              "value": "={{ $vars.SISMO_N8N_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tipo\": \"backlog_alto\", \"mensaje\": \"{{ $json.mensaje }}\", \"severidad\": \"{{ $json.severidad }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "POST /api/n8n/alerta — backlog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {},
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Backlog OK — sin acción",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Diario 9 AM Bogotá": {
      "main": [
        [
          {
            "node": "GET /api/n8n/status/backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/n8n/status/backlog": {
      "main": [
        [
          {
            "node": "¿Backlog alto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Backlog alto?": {
      "main": [
        [
          {
            "node": "Construir mensaje alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backlog OK — sin acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir mensaje alerta": {
      "main": [
        [
          {
            "node": "POST /api/n8n/alerta — backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["sismo", "conciliacion", "backlog"],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "notes": "Corre diario 9 AM Bogotá. Consulta /api/n8n/status/backlog (sin auth). Si alertar==true (>50 pendientes o >7 días antigüedad), construye mensaje con detalle por banco y dispara alerta en SISMO. Severidad 'alta' si total>100 o más antiguo >14 días. Requiere variable n8n: SISMO_N8N_KEY."
}
